.btn{
    padding: 10px 22px !important;
}

.mr-100{
    margin-right:100px;
}

.mt-40{
    margin-top:40px;
}

.mt-20{
    margin-top:20px;
}

.ml-50{
    margin-left:50px;
}

.fsz-20{
    font-size:20px;
}

table.band th{
    text-align: center;
}

.days input{
    background-color: #ffffff;
    width:100%;
    border: 1px solid #dddddd;
}

.days input:disabled{
    background-color: #dddddd;
}